.WellcomePage{
    display: flex;
    flex-direction: row;
    flex:1;
    height: 79vh;
    background-color: #DADADA;
  
    }



/*
key=API_KEY=AIzaSyBhi7RsYmg1x-ZqXjGJvSdNTGbMko-rFUg

AIzaSyBhi7RsYmg1x-ZqXjGJvSdNTGbMko-rFUg
*/